<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Simple E-commerce</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">Welcome to Book Commerce,<br/> your one-stop online platform for finding and buying your desired books. Our mission is simple: to make books accessible and affordable for everyone, whether you’re looking for a rare find or the latest bestseller. With a user-friendly interface, secure transactions, and a vast catalog, we’re here to help you discover your next favorite book.
  Join us in building a world where every book finds its reader and every reader finds their book! </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
